@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: var(--background, #030303);
    display: flex;
    align-items: center;

    margin: 0;

}

#preloader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 25, 28);
    text-align: center;
    z-index: 1000;
}

#preloader img {
    width: 100%;
    max-width: 500px;
    height: 500px;
    justify-content: center;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: var(--background, #030303);
    display: flex;
    align-items: center;

    margin: 0;

}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: var(--background, #030303);
    display: flex;
    align-items: center;

}
.folders-kists {
    left: 680px;
    position: relative;
    width: 329px;
    height: 462px;
    background-color: #161417;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(221, 0, 188, 0.861);
    border-radius: 15px;
}

.folders-kists .group {
    position: absolute;
    width: 172px;
    height: 28px;
    top: 5px;
    left: 79px;
}

.folders-kists .text-wrapper {
    position: absolute;
    width: 136px;
    top: 2px;
    left: 34px;
    background: linear-gradient(180deg,
    rgb(100.94, 60.56, 161.5) 0%,
    rgb(193.21, 177.02, 217.5) 68.75%,
    rgb(255, 255, 255) 100%,
    rgb(174.76, 153.73, 206.3) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: "MuseoModerno-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.folders-kists .img {
    position: absolute;
    width: 31px;
    height: 25px;
    top: 0;
    left: 0;
}

.folders-kists .plus {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -8649px;
    left: 1636px;
}

.folders-kists .add-to-archive {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 46px;
    left: 18px;
}

.folders-kists .RTL-text {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 46px;
    left: 78px;
}

.folders-kists .rectangle {
    position: absolute;
    width: 436px;
    height: 1px;
    top: 38px;
    left: 0;
    background-color: #343434;
}

.folders-kists .div {
    position: absolute;
    width: 436px;
    height: 1px;
    top: 78px;
    left: 0;
    background-color: #343434;
}

.folders-kists .file {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 46px;
    left: 46px;
}

.folders-kists .rectangle-2 {
    position: absolute;
    width: 436px;
    height: 1px;
    top: 485px;
    left: -107px;
    background-color: #343434;
}

.folders-kists .rectangle-3 {
    position: absolute;
    width: 436px;
    height: 1px;
    top: 138px;
    left: -103px;
    background-color: #343434;
}

.folders-kists .rectangle-4 {
    position: absolute;
    width: 436px;
    height: 1px;
    top: 204px;
    left: -103px;
    background-color: #343434;
}

.folders-kists .rectangle-5 {
    position: absolute;
    width: 436px;
    height: 1px;
    top: 270px;
    left: -103px;
    background-color: #343434;
}

.folders-kists .overlap {
    position: absolute;
    width: 108px;
    height: 54px;
    top: 79px;
    left: 209px;
}

.folders-kists .rectangle-6 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 76px;
    background-color: #62506d;
    border-radius: 6px;
}

.folders-kists .group-2 {
    position: absolute;
    width: 108px;
    height: 54px;
    top: 0;
    left: 0;
}

.folders-kists .overlap-group {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 76px;
    background-color: #292929;
    border-radius: 6px;
}

.folders-kists .file-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.folders-kists .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "MuseoModerno-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 53.5px;
    white-space: nowrap;
    direction: rtl;
}

.folders-kists .group-3 {
    position: absolute;
    width: 108px;
    height: 54px;
    top: 144px;
    left: 209px;
}

.folders-kists .group-4 {
    position: absolute;
    width: 108px;
    height: 54px;
    top: 209px;
    left: 209px;
}

.folders-kists .plus-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 46px;
    left: 295px;
    cursor: pointer;
}

.folders-kists .search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 46px;
    left: 110px;
}
.but1{

    cursor: pointer;

}